header {text-align:right;}

body{
  background-attachment: fixed; 
  background-size: 100% 100%;}

nav{margin:auto;}

.nav-item nav-link {color: black;
text-decoration: none;
text-align: right;}

#navbarNavAltMarkup {text-align: right !important;}


nav ul li {;text-transform: uppercase;
list-style: none;}

section {text-align: right;
font-size: large;}



main {text-orientation:left;
	padding-left: 30px;
padding-top: 40px;}

#buttonhead {border-color: black;
	        background-color:blueviolet;
	        height: 45px;
	        width: auto;
            margin-top: 10px;}

#logo {color: blueviolet;}

h1 {text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif !important}



.testo1 {text-align: left;
        color: black;}

.testo2{text-align: left;}

.testoc {text-align: center;}



.rounded-lg{width: 4%}

.rounded-sm {width: 4%;}


#form{background:mediumvioletred ;}

#form2{background:lightseagreen;}

#form3{background:forestgreen;}

#form4{background:darkorange;}

#form5{background:darkviolet ;}


#wbutton{border-color: black;
	        background-color:mediumvioletred;
	        height: 45px;
	        width: auto;
            margin-top: 10px}

#abutton{border-color: black;
	        background-color:lightseagreen;
	        height: 45px;
	        width: auto;
            margin-top: 10px}

#cobutton{border-color: black;
	        background-color:forestgreen;
	        height: 45px;
	        width: auto;
            margin-top: 10px}

#cabutton{border-color: black;
	        background-color:darkorange;
	        height: 45px;
	        width: auto;
            margin-top: 10px}

#ybutton{border-color: black;
	        background-color:darkviolet;
	        height: 45px;
	        width: auto;
            margin-top: 10px}


#footer {position: absolute;
	background-attachment: fixed!important;
text-align: center;
width: 100%;
bottom: 0 !important
}

#footer2 {position: absolute;
	background-attachment: fixed!important;
text-align: center;
width: 100%;}


h2 {font-family: 'Montserrat', sans-serif !important}

h3 {text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif !important}

h4 {text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif !important}

h5 {text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif !important}

#lay {width: 46%;
height: auto;
}

#hp {width: 46%;
height: auto;
}

#pl{width: 46%;
height: auto;
}

#ab{width: 46%;
height: auto;
}

#co{width: 46%;
height: auto;
}

#ut {width: 46%;
height: auto;
}

#p {width: 46%;
height: auto;
}

#v{width: 46%;
height: auto;
}


 




